body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

h1 {
    text-align:center;
    border: 2px solid darkblue;
}

p {
    font-size: 20px;
    color: darkgreen;
}

img {
    max-width: 300px;
    background-color: red;
    padding: 20px;
    border: 5px solid navy;
    display: block;
    margin: auto;
}

ul {
    background-color: #f0f0f0;
    padding: 20px 40px;
    margin: auto;  
}
li {
    background-color: #e7f2fa;
    border: 2px solid #b3d7ea;
    border-radius: 20px;
    padding: 8px 15px;
    margin-bottom: 5px;
    transition: color 0.2s ease, transform 0.2s ease;
}
ul {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
}
li:hover {
    color: #3498db;
    transform: translateX(5px);
}


